<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>@Model.GetName()</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href="/Content/css/styles.css">
</head>
<body>
  <div class="page-header">
    <h1>@Model.GetName()</h1>
  </div>
  <div class="container">
    <h2>
      Bands
    </h2>
    <table class="table table-striped">
      <tbody>
      @foreach (var band in Model.GetBands())
      {
        <tr>
          <td>
            <a href="/band/@band.GetId()">@band.GetName()</a>
          </td>
        </tr>
      }
      </tbody>
    </table>
    <h2>Add A Band</h2>
    <form class="form-group" action="/venue/add/band" method="post">
      <input name="venue-id" type="hidden" value="@Model.GetId()">
      <label for = "band-name">Add an entirely new band</label>
      <input id = "band-name" name = "band-name" type = "text" value = "">
      <button type = "submit" class="btn-primary">Add Band</button>
      <br>
      <label for="band-select-name">Select a Band from the Bands List:</label>
       <select name="band-select-name">
         <option value="0" selected="selected"></option>
        @foreach(var band in Model.GetAllKnowBands())
         {
          <option value="@band.GetId()">@band.GetName()</option>
         }
       </select>
      <button type = "submit" class="btn-primary">Add Band</button>
    </form>

    <a href="/"><h3>Return home</h3></a>
    <a href="/venue/edit/@Model.GetId()"><h3>Edit venue</h3></a>
    <form action="/venue/delete/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete this venue</button>
</form>

  </div>
</body>
</html>
